@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; /* Create 3 column tracks */
  grid-template-rows: 1fr 2fr; /* Create 2 row tracks */
  column-gap: 5px;
  row-gap: 10px;
}

.box {
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
  border: 1px solid aqua;
}
