header h1 {
  text-align: center;
  text-decoration: underline solid red;
}

.column {
  columns: 3 150px;
  column-gap: 50px;
  column-rule: 2px solid #333;
}
/* Till now top margin are not aligned properly */

.column p {
  margin-top: 0;
  /* Solution to align margins */
}

.column h2 {
  background-color: #333;
  color: azure;
  break-inside: avoid; /* Prevent breaking in two colums */
}

.qoute {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  column-span: all;
}

.wrap {
  white-space: nowrap;
}
